@use './partials/card.scss';
@use './partials/header.scss';
@use './partials/reset.scss';

.container{
    max-width: 1024px;
    padding-top: 100px;
    height: 100vh;
    overflow: scroll;
    margin: 0 auto;
    background-color: black;
    color: white;
    position: relative;
    
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
  }

  .d-block{
    display: block;
  }

  .d-none{
    display: none;
  }

  .padd-y{
    padding: 20px 0;
  }