@use './partials/card.scss';
@use './partials/header.scss';
@use './partials/reset.scss';

.container{
    max-width: 1024px;
    margin: 0 auto;
    background-color: black;
    color: white;
    
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
  }