.nav-bar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    
    //bottom: 0;
}

.search {
    display: flex;
    gap: 10px;
}

.start-search {
    padding: 3px;
}
.link{
    color:white;
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}